[submodule "sf-svg"]
        path = lib/sf-svg
        url = https://github.com/kamirr/sf-svg.git
[submodule "uthash"]
        path = lib/uthash
        url = https://github.com/troydhanson/uthash.git
[submodule "lib/jsmn"]
        path = lib/jsmn
        url = https://github.com/zserge/jsmn.git

